<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Offered Courses</title>
    <link rel="stylesheet" href="{% static 'offered_courses.css' %}">
  </head>

  <!-- <script>
    let sortDirection = false;
    let courseData = [
      { id: 123, course_name: "CSE", course_description: "DataStructures" },
      { id: 123, course_name: "CSE", course_description: "DataStructures" },
      { id: 123, course_name: "CSE", course_description: "DataStructures" },
      { id: 123, course_name: "CSE", course_description: "DataStructures" },
      { id: 123, course_name: "CSE", course_description: "DataStructures" }
    ];

    window.onload = () => {
      loadTableData(courseData);
    };

    function loadTableData(courseData){
      const tableBody = document.getElementById("tableData");
      let dataHtml = '';

      for(let course of courseData){
        dataHtml += `<tr><td>${course.id}</td><td>${course.course_name}</td><td>${course.course_description}</td></tr>`;
      }
      console.log(dataHtml)

      tableBody.innerHTML = dataHtml;
    } -->

  </script>

  <body>
    <section class="container">
      <div class="content">
        <h2>Offered Courses</h2>
      </div>
      <div class="offered_courses_table">
        <table>
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Course Description</th>
            </tr>
          </thead>
          {% for instance in data %}
          <tr>
            <td>
              {{ instance.fields.owner_id }}
            </td>
            <td>
              {{ instance.fields.name }}
            </td>
            <td>
              {{ instance.fields.description }}
            </td>
          </tr>
          {% endfor  %}
         </table>
      </div>
    </section>
  </body>
</html>